{% extends 'base.html' %}

{% block content %}
    <h1>Books</h1>
    <h2>Book: {{ book.title }}</h2>
    <h2>Authors: {{ book.author }}</h2>
    <h2>Genres:
        {% for genre in book.genre.all %}
            {{ genre.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </h2>
    <hr>
    <h4 class="card-text">Available Copies: {{ book.bookcopy_set.count }}</h4>
    {% for book_instance in book.bookinstance_set.all %}
        {% if book_instance.status == 'Available' %}
            <h4 class="card-text">
                <a href="{{ book_instance.get_absolute_url }}">
                    {{ book_instance.isbn }} {{ book_instance.language.name }}
                </a>
            </h4>
        {% endif %}
    {% endfor %}


{% endblock %}
